// Resource file for the English version

#define STR_ADAPTATION_TO_BUGS	"A vide¢meghajt¢ hib†j†nak korrig†l†sa"
#define STR_AFTERIMAGES		"Mozzanatok sz†ma:"
#define STR_ALL_FRAME_ANIMATION "Anim†ci¢ minden keretablakhoz"
#define STR_ALWAYS_MOVE		"Mutat¢ mindig †tugrik"
#define STR_ANIMATION		"~Anim†ci¢"
#define STR_ANIMATION_SOUNDS	"Anim†ci¢hoz hanghat†s"
#define STR_AUTOMATIC_SELECTION	"Automatikus menÅkiv†laszt†s"
#define STR_BUTTON_CANCEL	"MÇgsem"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Ablakok fÅggãleges sorrendjÇnek megv†ltoztat†sa"
#define STR_CLOCK_DRAG		"Rendszer¢ra vontat†sa"
#define STR_CLOSE_BUTTON	"Z†r¢gomb"
#define STR_COMMAND_POPUP	"Elãbukkan¢ menÅ"
#define STR_COMMAND_WINDOW	"Paran~cssor ablak"
#define STR_DETAIL_SETTINGS	"Finomhangol†s..."
#define STR_DETAIL_TITLE	"Ablak-anim†ci¢ - Finomhangol†s"
#define STR_DISABLE_SORT	"A Munkaasztalon a RendezÇs Çs ElrendezÇs elrejtÇse"
#define STR_DRAG_BY_FRAME	"Vontat†s a kerettel"
#define STR_DRAG_FUNCTIONS	"V~ontat†s"
#define STR_DRAWING		"Firk†l†s a kÇpernyãre"
#define STR_EFFECTIVE_AREA	"Hat†sos terÅlet (%):"
#define STR_ENABLE		"EngedÇlyezve"
#define STR_ENTRY_FIELD_MENU	"Bevitelimezã-menÅ"
#define STR_EXTENDED_FILEDLG	"Kiterjesztett F†jl p†rbeszÇdpanel"
#define STR_EXTENDED_MARKING	"Kiterjesztett kijelîlÇs"
#define STR_EXTENSION_SORT	"KiterjesztÇs szerinti rendezÇs"
#define STR_FILEDLG_NAMES	"~Nevek"
#define STR_FILEDLG_OPEN	"~Megnyit†s"
#define STR_FILENAME_SELECT	"Kiv†laszt†s az objektum neve alapj†n"
#define STR_FOCUS_POINTER	"EgÇrmutat¢ mozgat†sa a f¢kuszra"
#define STR_FOLDER_DRAG		"Gy˚jtãk vontat†sa"
#define STR_FULL_WINDOW_DRAG	"Teljesablakos vontat†s"
#define STR_IGNORE_BUTTONLESS	"Gomb nÇlkÅli ablakok elhanyagol†sa"
#define STR_IGNORE_DESKTOP	"Munkaasztal elhanyagol†sa"
#define STR_IGNORE_LAUNCHPAD	"Gyorsind°t¢ elhanyagol†sa"
#define STR_KEEP_ZORDER		"Ablakok sorrendjÇnek megtart†sa"
#define STR_MATRIX_ARRANGE	"Ikonok r†csos elrendezÇse"
#define STR_MENU_COPY		"~M†sol†s"
#define STR_MENU_CUT		"~V†g†s"
#define STR_MENU_EXTENTION	"~KiterjesztÇs"
#define STR_MENU_FILENAME	"~F†jlnÇv..."
#define STR_MENU_NAME		"~~NÇv..."
#define STR_MENU_PASTE		"~BeillesztÇs"
#define STR_OTHER_FUNCTIONS	"~EgyÇb"
#define STR_POINTER_1		"Mutat¢ ~1"
#define STR_POINTER_2		"Mutat¢ ~2"
#define STR_POINTER_ACTIVATE	"Mutat¢ alatti ablak aktiviz†l†sa"
#define STR_POINTER_IS_MOVED	"Csak egÇrmozgat†s hat†s†ra"
#define STR_PRODUCT_INFO	"~TermÇkismertetã"
#define STR_PROGRAM		"Grafikus munkafelÅlet testreszab¢ program"
#define STR_QUERY_CLOSE		"Val¢ban ki akarsz lÇpni?"
#define STR_QUERY_DELETE	"A kiv†lasztott f†jlok tîrlãdni fognak."
#define STR_QUICK_PASTE		"Gyors beillesztÇs"
#define STR_RANDOMNESS		"VÇletlenszer˚sÇg:"
#define STR_RANDOM_ICONS	"VÇletlenszer˚ ikonok"
#define STR_REFRESH_SCREEN	"KÇpernyãfriss°tÇs"
#define STR_SCREEN_VIEW		"~Megjelen°tÇs"
#define STR_SCREEN_WRAP		"A mutat¢ kîrbej†r a kÇpernyãn"
#define STR_SELECT_FUNCTIONS	"~Kiv†laszt†s/RendezÇs"
#define STR_SELECT_OBJECT	" - Kiv†laszt†s"
#define STR_SHADOW_DARKNESS	"Az †rnyÇk sîtÇtsÇge:"
#define STR_SHADOW_X		"SzÇlessÇge:"
#define STR_SHADOW_Y		"Magass†ga:"
#define STR_SHIFT_IS_PRESSED	"Csak ha a Shift le van nyomva"
#define STR_SHOW_FOLDERS	"A tîbbi gy˚jtã l†that¢ vontat†skor"
#define STR_SMOOTH_SCROLL	"Gy˚jtãk finom gîrgetÇse"
#define STR_STEP		"LÇpÇssz†m:"
#define STR_TRANSLATION		"Billenty˚helyettes°tÇs"
#define STR_WAITING_TIME	"KÇsleltetÇs (1/100 mp.):"
#define STR_WAVEAUDIO_INDEX	"Hangk†rtya sorsz†ma:"
#define STR_WINDOW_ANIMATION	"Ablak megnyit†s/bez†r†s anim†ci¢"
#define STR_WINDOW_LIST		"Akt°v feladatok list†ja"
#define STR_WINDOW_SHADOWS	"Az ablakok †rnyÇkot vetnek a Munkaasztalra"
#define STR_X_DISTANCE		"X t†vols†g:"
#define STR_X_ORIGIN		"Kezdãpont X koordin†ta:"
#define STR_Y_DISTANCE		"Y t†vols†g:"
#define STR_Y_ORIGIN		"Kezdãpont Y koordin†ta:"
#define STR_ZORDER_DOWN		"Le:"
#define STR_ZORDER_UP		"Fel:"

// for 1.82

#define STR_TEST_ANIMATION	"~Pr¢ba"
#define STR_THICK_LINE		"Vastag vonal"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"

