// Resource file for the English version

#define STR_ADAPTATION_TO_BUGS	"Adaptation to Video Driver Bugs"
#define STR_AFTERIMAGES		"Number of Afterimages:"
#define STR_ALL_FRAME_ANIMATION "Animations for All Frame Windows"
#define STR_ALWAYS_MOVE		"Always Move Pointer"
#define STR_ANIMATION		"~Animation"
#define STR_ANIMATION_SOUNDS	"Animation Sounds"
#define STR_AUTOMATIC_SELECTION	"Automatic Menu Selection"
#define STR_BUTTON_CANCEL	"Cancel"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Change Window Z-Order"
#define STR_CLOCK_DRAG		"System Clock Drag"
#define STR_CLOSE_BUTTON	"Close Button"
#define STR_COMMAND_POPUP	"Popup Menu"
#define STR_COMMAND_WINDOW	"~Command Window"
#define STR_DETAIL_SETTINGS	"Detail Settings..."
#define STR_DETAIL_TITLE	"Window Animation - Detail Settings"
#define STR_DISABLE_SORT	"Disable Sort and Arrange of Desktop"
#define STR_DRAG_BY_FRAME	"Frame Drag"
#define STR_DRAG_FUNCTIONS	"~Drag"
#define STR_DRAWING		"Screen Drawing"
#define STR_EFFECTIVE_AREA	"Effective Area (%):"
#define STR_ENABLE		"Enable"
#define STR_ENTRY_FIELD_MENU	"Entry Field Menu"
#define STR_EXTENDED_FILEDLG	"Extended File Dialog"
#define STR_EXTENDED_MARKING	"Extended Marking"
#define STR_EXTENSION_SORT	"Extension Sort"
#define STR_FILEDLG_NAMES	"~Names"
#define STR_FILEDLG_OPEN	"~Open"
#define STR_FILENAME_SELECT	"Selection by Object Name"
#define STR_FOCUS_POINTER	"Move Pointer to Focus"
#define STR_FOLDER_DRAG		"Folder Drag"
#define STR_FULL_WINDOW_DRAG	"Full Window Drag"
#define STR_IGNORE_BUTTONLESS	"Ignore Buttonless Dialogs"
#define STR_IGNORE_DESKTOP	"Ignore Desktop"
#define STR_IGNORE_LAUNCHPAD	"Ignore LaunchPad"
#define STR_KEEP_ZORDER		"Keep Window Z-Orders"
#define STR_MATRIX_ARRANGE	"Arrange Icons on Matrix"
#define STR_MENU_COPY		"~Copy"
#define STR_MENU_CUT		"Cu~t"
#define STR_MENU_EXTENTION	"E~xtension"
#define STR_MENU_FILENAME	"File~name..."
#define STR_MENU_NAME		"~Name..."
#define STR_MENU_PASTE		"~Paste"
#define STR_OTHER_FUNCTIONS	"~Others"
#define STR_POINTER_1		"Pointer ~1"
#define STR_POINTER_2		"Pointer ~2"
#define STR_POINTER_ACTIVATE	"Activate Window at Pointer"
#define STR_POINTER_IS_MOVED	"Only when Pointer is moved"
#define STR_PRODUCT_INFO	"Product ~Info"
#define STR_PROGRAM		"Workplace Shell Customizing Program"
#define STR_QUERY_CLOSE		"Do you really want to quit?"
#define STR_QUERY_DELETE	"Selected files will be deleted"
#define STR_QUICK_PASTE		"Quick Paste"
#define STR_RANDOMNESS		"Randomness:"
#define STR_RANDOM_ICONS	"Random Icons"
#define STR_REFRESH_SCREEN	"Refresh Screen"
#define STR_SCREEN_VIEW		"Screen ~View"
#define STR_SCREEN_WRAP		"Wrap Pointer on Screen Border"
#define STR_SELECT_FUNCTIONS	"~Select/Sort"
#define STR_SELECT_OBJECT	" - Select"
#define STR_SHADOW_DARKNESS	"Shadow Darkness:"
#define STR_SHADOW_X		"Shadow x:"
#define STR_SHADOW_Y		"Shadow y:"
#define STR_SHIFT_IS_PRESSED	"Only when Shift is pressed"
#define STR_SHOW_FOLDERS	"Show Other Folders when Drag"
#define STR_SMOOTH_SCROLL	"Smooth Scroll of Folders"
#define STR_STEP		"Step:"
#define STR_TRANSLATION		"Key Translation"
#define STR_WAITING_TIME	"Waiting Time (1/100 sec.):"
#define STR_WAVEAUDIO_INDEX	"Waveaudio Index:"
#define STR_WINDOW_ANIMATION	"Window Animation for Open / Close"
#define STR_WINDOW_LIST		"Window List"
#define STR_WINDOW_SHADOWS	"Window Shadows on Desktop"
#define STR_X_DISTANCE		"x Distance:"
#define STR_X_ORIGIN		"x Origin:"
#define STR_Y_DISTANCE		"y Distance:"
#define STR_Y_ORIGIN		"y Origin:"
#define STR_ZORDER_DOWN		"Down:"
#define STR_ZORDER_UP		"Up:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
