// Resource file for the Dutch version
// Translated by Jacco de Leeuw (leeuw@fwi.uva.nl)

#define STR_ADAPTATION_TO_BUGS  "Aanpassing aan bugs in Video Driver"
#define STR_AFTERIMAGES         "Beelden tegelijk op scherm:"
#define STR_ALL_FRAME_ANIMATION "Animaties bij alle vensters"
#define STR_ALWAYS_MOVE         "Aanwijzer altijd verplaatsen"
#define STR_ANIMATION           "~Animaties"
#define STR_ANIMATION_SOUNDS    "Animaties met geluid"
#define STR_AUTOMATIC_SELECTION "Automatische keuze vervolgmenu"
#define STR_BUTTON_CANCEL       "Annuleren"
#define STR_BUTTON_OK           "OK"
#define STR_CHANGE_ZORDER       "Z-volgorde venster veranderen"
#define STR_CLOCK_DRAG          "Systeemklok versleepbaar"
#define STR_CLOSE_BUTTON        "Sluitknop"
#define STR_COMMAND_POPUP       "Voorgrondmenu"
#define STR_COMMAND_WINDOW      "~Opdrachtaanwijzingen"
#define STR_DETAIL_SETTINGS     "Meer instellingen"
#define STR_DETAIL_TITLE        "Venster animaties - Gedetailleerde instellingen"
#define STR_DISABLE_SORT        "Rangschikken Werkplek uitschakelen"
#define STR_DRAG_BY_FRAME       "Slepen via kader van venster"
#define STR_DRAG_FUNCTIONS      "S~lepen"
#define STR_DRAWING             "Tekenen op beeldscherm"
#define STR_EFFECTIVE_AREA      "Gedeelte van rand (%):"
#define STR_ENABLE              "Inschakelen"
#define STR_ENTRY_FIELD_MENU    "Voorgrondmenu voor invoervelden"
#define STR_EXTENDED_FILEDLG    "Uitgebreider bestandsdialoogvenster"
#define STR_EXTENDED_MARKING    "Snel markeren"
#define STR_EXTENSION_SORT      "Sorteren op extensie"
#define STR_FILEDLG_NAMES       "~Namen"
#define STR_FILEDLG_OPEN        "~Openen"
#define STR_FILENAME_SELECT     "Selecteren via objectnaam"
#define STR_FOCUS_POINTER       "Aanwijzer naar focus verplaatsen"
#define STR_FOLDER_DRAG         "Map slepen via lege ruimte"
#define STR_FULL_WINDOW_DRAG    "Venster in zijn geheel slepen"
#define STR_IGNORE_BUTTONLESS   "Dialoogvensters zonder knoppen negeren"
#define STR_IGNORE_DESKTOP      "Werkplek negeren"
#define STR_IGNORE_LAUNCHPAD    "Hoofdvenster negeren"
#define STR_KEEP_ZORDER         "Z-volgorde vensters handhaven"
#define STR_MATRIX_ARRANGE      "Pictogrammen in matrixvorm rangschikken"
#define STR_MENU_COPY           "~Kopi‰ren"
#define STR_MENU_CUT            "K~nippen"
#define STR_MENU_EXTENTION      "E~xtensie"
#define STR_MENU_FILENAME       "Bestands~naam..."
#define STR_MENU_NAME           "~Naam..."
#define STR_MENU_PASTE          "~Plakken"
#define STR_OTHER_FUNCTIONS     "O~verig"
#define STR_POINTER_1           "Aanwijzer ~1"
#define STR_POINTER_2           "Aanwijzer ~2"
#define STR_POINTER_ACTIVATE    "Venster bij aanwijzer activeren"
#define STR_POINTER_IS_MOVED    "Alleen wanneer aanwijzer bewogen wordt"
#define STR_PRODUCT_INFO        "~Info..."
#define STR_PROGRAM             "Workplace Shell configuratieprogramma"
#define STR_QUERY_CLOSE         "Wilt u echt stoppen?"
#define STR_QUERY_DELETE        "Geselecteerde bestanden worden verwijderd"
#define STR_QUICK_PASTE         "Snel plakken"
#define STR_RANDOMNESS          "Omweg:"
#define STR_RANDOM_ICONS        "Willekeurige pictogrammen"
#define STR_REFRESH_SCREEN      "Scherm verversen"
#define STR_SCREEN_VIEW         "~Beeldscherm"
#define STR_SCREEN_WRAP         "Aanwijzer kan door beeldschermrand heen"
#define STR_SELECT_FUNCTIONS    "~Selecteren/Sorteren"
#define STR_SELECT_OBJECT       " - Selecteren"
#define STR_SHADOW_DARKNESS     "Donkerte schaduw:"
#define STR_SHADOW_X            "Schaduw x:"
#define STR_SHADOW_Y            "Schaduw y:"
#define STR_SHIFT_IS_PRESSED    "Alleen wanneer Shift is ingedrukt"
#define STR_SHOW_FOLDERS        "Overige mappen naar voren bij slepen object"
#define STR_SMOOTH_SCROLL       "Inhoud mappen soepel scrollen"
#define STR_STEP                "Stappen:"
#define STR_TRANSLATION         "Alternatieve toetsbezetting"
#define STR_WAITING_TIME        "Wachttijd (1/100 sec.):"
#define STR_WAVEAUDIO_INDEX     "Waveaudio nummer:"
#define STR_WINDOW_ANIMATION    "Vensteranimaties bij openen / sluiten"
#define STR_WINDOW_LIST         "Taakoverzicht bij klikken muisknop 1 + 2"
#define STR_WINDOW_SHADOWS      "Schaduw van vensters op Werkplek"
#define STR_X_DISTANCE          "x Afstand:"
#define STR_X_ORIGIN            "x Oorsprong:"
#define STR_Y_DISTANCE          "y Afstand:"
#define STR_Y_ORIGIN            "y Oorsprong:"
#define STR_ZORDER_DOWN         "Naar voren:"
#define STR_ZORDER_UP           "Naar achteren:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
