// Resource file for the German version
// Translated by Jan Strube (100333.2744@compuserve.com)
// Modified by Simon Schlauri (schlaur@ibm.net)

#define STR_ADAPTATION_TO_BUGS	"Videotreiber-Fehlerkorrektur"
#define STR_AFTERIMAGES		"Anzahl der Folgebilder:"
#define STR_ALL_FRAME_ANIMATION "Animation bei allen Fenstern mit Rahmen"
#define STR_ALWAYS_MOVE		"Maus immer verschieben"
#define STR_ANIMATION		"~Animation"
#define STR_ANIMATION_SOUNDS	"Fensteranimation mit Ton"
#define STR_AUTOMATIC_SELECTION	"Automatische MenÅauswahl"
#define STR_BUTTON_CANCEL	"Abbruch"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Z-Ordnung der Fenster Ñndern"
#define STR_CLOCK_DRAG		"System-Uhr ziehen"
#define STR_CLOSE_BUTTON	"Schalter zum Schlie·en"
#define STR_COMMAND_POPUP	"KontextmenÅ"
#define STR_COMMAND_WINDOW	"Befehlszeilen~fenster"
#define STR_DETAIL_SETTINGS	"Weitere Einstellungen..."
#define STR_DETAIL_TITLE	"Fensteranimation - weitere Einstellungen"
#define STR_DISABLE_SORT	"Sortieren und Anordnen auf ArbeitsoberflÑche verhindern"
#define STR_DRAG_BY_FRAME	"Rahmen ziehen"
#define STR_DRAG_FUNCTIONS	"~Ziehen"
#define STR_DRAWING		"Zeichnen auf dem Bildschirm"
#define STR_EFFECTIVE_AREA	"Effektive FlÑche (%):"
#define STR_ENABLE		"Enable"
#define STR_ENTRY_FIELD_MENU	"Entry Field Menu"
#define STR_EXTENDED_FILEDLG	"Erweiterter Datei-Dialog"
#define STR_EXTENDED_MARKING	"Erweitertes Markieren"
#define STR_EXTENSION_SORT	"Sortieren nach Endung"
#define STR_FILEDLG_NAMES	"~Namen"
#define STR_FILEDLG_OPEN	"~ôffnen"
#define STR_FILENAME_SELECT	"Auswahl durch Objektnamen"
#define STR_FOCUS_POINTER	"Mauszeiger zum Fokus bewegen"
#define STR_FOLDER_DRAG		"Ordner ziehen"
#define STR_FULL_WINDOW_DRAG	"Ganzes Fenster mitziehen"
#define STR_IGNORE_BUTTONLESS	"Schalterlose Dialoge ignorieren"
#define STR_IGNORE_DESKTOP	"ArbeitsoberflÑche ignorieren"
#define STR_IGNORE_LAUNCHPAD	"Klickstartleiste ignorieren"
#define STR_KEEP_ZORDER		"Z-Reihenfolge der Fenster beibehalten"
#define STR_MATRIX_ARRANGE	"Icons in Matrixform anordnen"
#define STR_MENU_COPY		"~Kopieren"
#define STR_MENU_CUT		"~Ausschneiden"
#define STR_MENU_EXTENTION	"~Endung"
#define STR_MENU_FILENAME	"Datei~name..."
#define STR_MENU_NAME		"~Name..."
#define STR_MENU_PASTE		"~EinfÅgen"
#define STR_OTHER_FUNCTIONS	"~Weitere"
#define STR_POINTER_1		"Maus ~1"
#define STR_POINTER_2		"Maus ~2"
#define STR_POINTER_ACTIVATE	"Fenster durch Maus aktivieren"
#define STR_POINTER_IS_MOVED	"Nur wenn Maus bewegt wird"
#define STR_PRODUCT_INFO	"~Produkt Info"
#define STR_PROGRAM		"Workplace Shell Anpassungsprogramm"
#define STR_QUERY_CLOSE		"Wollen Sie wirklich beenden?"
#define STR_QUERY_DELETE	"ausgewÑhlte Dateien werden gelîscht"
#define STR_QUICK_PASTE		"Schnell-EinfÅgen"
#define STR_RANDOMNESS		"Umwege:"
#define STR_RANDOM_ICONS	"ZufÑllige Icons"
#define STR_REFRESH_SCREEN	"Bildschirm aktualisieren"
#define STR_SCREEN_VIEW		"~Bildschirm"
#define STR_SCREEN_WRAP		"Maus Åbertritt Bildschirmgrenze"
#define STR_SELECT_FUNCTIONS	"Auswahl/~Sortieren"
#define STR_SELECT_OBJECT	" - Auswahl"
#define STR_SHADOW_DARKNESS	"Schatten-Dunkelheit:"
#define STR_SHADOW_X		"Schatten x:"
#define STR_SHADOW_Y		"Schatten y:"
#define STR_SHIFT_IS_PRESSED	"Nur bei gedrÅckter Umschalt-Taste"
#define STR_SHOW_FOLDERS	"Zeige andere Ordner beim Ziehen"
#define STR_SMOOTH_SCROLL	"Ruhiges Scrollen in Ordnern"
#define STR_STEP		"Schritte:"
#define STR_TRANSLATION		"Tastatur-Umsetzung"
#define STR_WAITING_TIME	"Wartezeit (1/100 Sek.):"
#define STR_WAVEAUDIO_INDEX	"Waveaudio Index:"
#define STR_WINDOW_ANIMATION	"Fensteranimation fur ôffnen / Schliessen"
#define STR_WINDOW_LIST		"Fensterliste"
#define STR_WINDOW_SHADOWS	"Fensterschatten auf ArbeitsoberflÑche"
#define STR_X_DISTANCE		"x Abstand:"
#define STR_X_ORIGIN		"x Ursprung:"
#define STR_Y_DISTANCE		"y Abstand:"
#define STR_Y_ORIGIN		"y Ursprung:"
#define STR_ZORDER_DOWN		"hinter:"
#define STR_ZORDER_UP		"vor:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
