// Resource file for the French version
// Translated by Alain Monnet (100140.1634@compuserve.com)

#define STR_ADAPTATION_TO_BUGS	"Adaptation aux Bugs du Driver Video"
#define STR_AFTERIMAGES		"Nombre d'images :"
#define STR_ALL_FRAME_ANIMATION "Animation de toutes les fenˆtres"
#define STR_ALWAYS_MOVE		"Toujours d‚placer le Pointeur"
#define STR_ANIMATION		"~Animation"
#define STR_ANIMATION_SOUNDS	"Sons avec l'Animation "
#define STR_AUTOMATIC_SELECTION	"S‚lection Automatique du Menu"
#define STR_BUTTON_CANCEL	"Abandon"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Changer l'ordre des fenˆtres"
#define STR_CLOCK_DRAG		"D‚placer l'Horloge-SystŠme"
#define STR_CLOSE_BUTTON	"Bouton de fermeture"
#define STR_COMMAND_POPUP	"Menu Popup"
#define STR_COMMAND_WINDOW	"~Fenˆtres de Commande"
#define STR_DETAIL_SETTINGS	"D‚tails..."
#define STR_DETAIL_TITLE	"Animation des fenˆtres - D‚tails"
#define STR_DISABLE_SORT	"D‚sactiver Tri et Disposition du Bureau"
#define STR_DRAG_BY_FRAME	"D‚placer par le contour"
#define STR_DRAG_FUNCTIONS	"~D‚placer"
#define STR_DRAWING		"Dessin … l'‚cran"
#define STR_EFFECTIVE_AREA	"Surface active (%) :"
#define STR_ENABLE		"Activer"
#define STR_ENTRY_FIELD_MENU	"Menu des champs de saisie"
#define STR_EXTENDED_FILEDLG	"Dialogue Fichiers ‚tendu"
#define STR_EXTENDED_MARKING	"Marquage ‚tendu"
#define STR_EXTENSION_SORT	"Tri par Extension"
#define STR_FILEDLG_NAMES	"~Noms"
#define STR_FILEDLG_OPEN	"~Ouvrir"
#define STR_FILENAME_SELECT	"S‚lection par Nom d'Objet"
#define STR_FOCUS_POINTER	"Pointeur dans la fenˆtre active"
#define STR_FOLDER_DRAG		"D‚placer les Dossiers"
#define STR_FULL_WINDOW_DRAG	"D‚placer les fenˆtres complŠtes"
#define STR_IGNORE_BUTTONLESS	"Ignorer les Dialogues sans boutons"
#define STR_IGNORE_DESKTOP	"Ignorer le Bureau"
#define STR_IGNORE_LAUNCHPAD	"Ignorer le Tableau de Bord"
#define STR_KEEP_ZORDER		"Conserver l'ordre des fenˆtres"
#define STR_MATRIX_ARRANGE	"Arranger les Icones en Matrice"
#define STR_MENU_COPY		"~Copier"
#define STR_MENU_CUT		"Cou~per"
#define STR_MENU_EXTENTION	"E~xtension"
#define STR_MENU_FILENAME	"~Nom de fichier..."
#define STR_MENU_NAME		"~Nom..."
#define STR_MENU_PASTE		"~Ins‚rer"
#define STR_OTHER_FUNCTIONS	"A~utres"
#define STR_POINTER_1		"Pointeur ~1"
#define STR_POINTER_2		"Pointeur ~2"
#define STR_POINTER_ACTIVATE	"Activer la fenˆtre sous le Pointeur"
#define STR_POINTER_IS_MOVED	"Uniquement si le Pointeur est d‚plac‚"
#define STR_PRODUCT_INFO	"Information ~Produit"
#define STR_PROGRAM		"Personnalisez votre Bureau OS/2"
#define STR_QUERY_CLOSE		"Voulez-vous vraiment quitter le programme ?"
#define STR_QUERY_DELETE	"Les fichiers s‚lectionn‚s vont ˆtre d‚truits"
#define STR_QUICK_PASTE		"Insertion rapide"
#define STR_RANDOMNESS		"Hasard :"
#define STR_RANDOM_ICONS	"Icones al‚atoires"
#define STR_REFRESH_SCREEN	"RafraŒchir l'‚cran"
#define STR_SCREEN_VIEW		"~Vision de l'‚cran"
#define STR_SCREEN_WRAP		"R‚apparition du pointeur d'un bord … l'autre"
#define STR_SELECT_FUNCTIONS	"~S‚lection / Tri"
#define STR_SELECT_OBJECT	" - S‚lection"
#define STR_SHADOW_DARKNESS	"Intensit‚ de l'ombre :"
#define STR_SHADOW_X		"Ombre x :"
#define STR_SHADOW_Y		"Ombre y :"
#define STR_SHIFT_IS_PRESSED	"Uniquement si Majuscule"
#define STR_SHOW_FOLDERS	"Montrer les autres dossiers en d‚pla‡ant"
#define STR_SMOOTH_SCROLL	"D‚roulement progressif des dossiers"
#define STR_STEP		"Pas :"
#define STR_TRANSLATION		"Red‚finir les touches"
#define STR_WAITING_TIME	"Attente (1/100 sec.) :"
#define STR_WAVEAUDIO_INDEX	"Index Audio :"
#define STR_WINDOW_ANIMATION	"Animation des fenˆtres en Ouverture/Fermeture"
#define STR_WINDOW_LIST		"Liste des fenˆtres"
#define STR_WINDOW_SHADOWS	"Ombre des fenˆtres sur le Bureau"
#define STR_X_DISTANCE		"Distance x :"
#define STR_X_ORIGIN		"Origine x :"
#define STR_Y_DISTANCE		"Distance y :"
#define STR_Y_ORIGIN		"Origine y :"
#define STR_ZORDER_DOWN		"Bas :"
#define STR_ZORDER_UP		"Haut:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
