// Resource file for the Finnish version
// Translated by Lauri Nurmi (lanurmi@kauhajoki.fi)

#define STR_ADAPTATION_TO_BUGS  "N„ytt”ajurin virheiden korjaus"
#define STR_AFTERIMAGES         "J„lkikuvien m„„r„:"
#define STR_ALL_FRAME_ANIMATION "Animaatiot kaikkiin kehyksellisiin ikkunoihin"
#define STR_ALWAYS_MOVE         "Siirr„ aina osoitinta"
#define STR_ANIMATION           "~Animaatio"
#define STR_ANIMATION_SOUNDS    "Animaation „„net"
#define STR_AUTOMATIC_SELECTION "Automattinen valikkovalinta"
#define STR_BUTTON_CANCEL       "Peruuta"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER       "Vaihda ikkunoiden Z-j„rjestyst„"
#define STR_CLOCK_DRAG          "J„rjestelm„n kellon veto"
#define STR_CLOSE_BUTTON        "Sulkemisnappi"
#define STR_COMMAND_POPUP       "Popup-valikko"
#define STR_COMMAND_WINDOW      "~Komentoikkuna"
#define STR_DETAIL_SETTINGS     "Lis„asetukset..."
#define STR_DETAIL_TITLE        "Ikkuna-animaatio - Lis„asetukset"
#define STR_DISABLE_SORT        "Est„ Ty”p”yd„n lajittelu ja j„rjestys"
#define STR_DRAG_BY_FRAME       "Kehyksen veto"
#define STR_DRAG_FUNCTIONS      "V~eto"
#define STR_DRAWING             "Piirto ruudulle"
#define STR_EFFECTIVE_AREA      "Vaikutusalue (%):"
#define STR_ENABLE              "K„yt”ss„"
#define STR_ENTRY_FIELD_MENU    "Sy”tt”kent„n valikko"
#define STR_EXTENDED_FILEDLG    "Laajennettu tiedostoikkuna"
#define STR_EXTENDED_MARKING    "Laajennettu merkint„"
#define STR_EXTENSION_SORT      "P„„tteiden j„rjestys"
#define STR_FILEDLG_NAMES       "~Nimet"
#define STR_FILEDLG_OPEN        "~Avaa"
#define STR_FILENAME_SELECT     "Valinta objektin nimen perusteella"
#define STR_FOCUS_POINTER       "Siirr„ osoitin aktiiviseen ikkunaan"
#define STR_FOLDER_DRAG         "Kansion veto"
#define STR_FULL_WINDOW_DRAG    "T„yden ikkunan veto"
#define STR_IGNORE_BUTTONLESS   "Žl„ huomioi napittomia ikkunoita"
#define STR_IGNORE_DESKTOP      "Žl„ huomioi Ty”p”yt„„"
#define STR_IGNORE_LAUNCHPAD    "Žl„ huomioi Ty”kaluvalikoimaa"
#define STR_KEEP_ZORDER         "S„ilyt„ ikkunoiden Z-j„rjestykset"
#define STR_MATRIX_ARRANGE      "J„rjest„ ikonit muotin p„„ll„"
#define STR_MENU_COPY           "~Kopioi"
#define STR_MENU_CUT            "Le~ikkaa"
#define STR_MENU_EXTENTION      "P„~„te"
#define STR_MENU_FILENAME       "Tiedosto~nimi..."
#define STR_MENU_NAME           "~Nimi..."
#define STR_MENU_PASTE          "~Liit„"
#define STR_OTHER_FUNCTIONS     "~Muut"
#define STR_POINTER_1           "Osoitin ~1"
#define STR_POINTER_2           "Osoitin ~2"
#define STR_POINTER_ACTIVATE    "Aktivoi ikkuna osoittimen kohdalla"
#define STR_POINTER_IS_MOVED    "Vain jos osoitinta on siirretty"
#define STR_PRODUCT_INFO        "T~ietoja tuotteesta"
#define STR_PROGRAM             "Workplace Shell -parantaja"
#define STR_QUERY_CLOSE         "Haluatko varmasti lopettaa?"
#define STR_QUERY_DELETE        "Valitut tiedostot tullaan poistamaan"
#define STR_QUICK_PASTE         "Pikaliitt„minen"
#define STR_RANDOMNESS          "Satunnaisuus:"
#define STR_RANDOM_ICONS        "Satunnaisia ikoneita"
#define STR_REFRESH_SCREEN      "Virkist„ n„ytt”"
#define STR_SCREEN_VIEW         "N„yt”n ~ulkoasu"
#define STR_SCREEN_WRAP         "Kierr„t„ osoitin n„yt”n reunassa"
#define STR_SELECT_FUNCTIONS    "~Valinta/J„rjestys"
#define STR_SELECT_OBJECT       " - Valinta"
#define STR_SHADOW_DARKNESS     "Varjon tummuus:"
#define STR_SHADOW_X            "Varjo x:"
#define STR_SHADOW_Y            "Varjo y:"
#define STR_SHIFT_IS_PRESSED    "Vain Vaihtoa (Shift) painettaessa"
#define STR_SHOW_FOLDERS        "N„yt„ muut kansiot vedett„ess„"
#define STR_SMOOTH_SCROLL       "Kansioiden tasainen vieritys"
#define STR_STEP                "Askel:"
#define STR_TRANSLATION         "N„pp„inmuunnos"
#define STR_WAITING_TIME        "Odotusaika (1/100 s.):"
#define STR_WAVEAUDIO_INDEX     "Aalto„„ni-indeksi:"
#define STR_WINDOW_ANIMATION    "Ikkunan animaatio, Avaa / Sulje"
#define STR_WINDOW_LIST         "Ikkunaluettelo"
#define STR_WINDOW_SHADOWS      "Ikkunoiden varjot Ty”p”yd„ll„"
#define STR_X_DISTANCE          "x et„isyys:"
#define STR_X_ORIGIN            "x alku:"
#define STR_Y_DISTANCE          "y et„isyys:"
#define STR_Y_ORIGIN            "y alku:"
#define STR_ZORDER_DOWN         "Alas:"
#define STR_ZORDER_UP           "Yl”s:"

// for 1.82

#define STR_TEST_ANIMATION      "~Testi"
#define STR_THICK_LINE          "Paksu viiva"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
