// Resource file for the Spanish version
// Translated by Flavio (flalvare@choapa.cic.userena.cl)

#define STR_ADAPTATION_TO_BUGS	"Adaptamiento a errores en el Manejador de Video"
#define STR_AFTERIMAGES		"N£mero de cuadros:"
#define STR_ALL_FRAME_ANIMATION "Animaciones para todas las Ventanas"
#define STR_ALWAYS_MOVE		"Mover siempre el Puntero"
#define STR_ANIMATION		"~Animaci¢n"
#define STR_ANIMATION_SOUNDS	"Sonidos de animaci¢n"
#define STR_AUTOMATIC_SELECTION	"Selecci¢n autom tica del Men£"
#define STR_BUTTON_CANCEL	"Cancelar"
#define STR_BUTTON_OK		"Bien"
#define STR_CHANGE_ZORDER	"Ciambiar coordenada Z de la Ventana"
#define STR_CLOCK_DRAG		"Arrastre del reloj del Sistema"
#define STR_CLOSE_BUTTON	"Bot¢n Cerrar"
#define STR_COMMAND_POPUP	"Men£ Emergente"
#define STR_COMMAND_WINDOW	"~Ventana de Comando"
#define STR_DETAIL_SETTINGS	"Detallar Seteos..."
#define STR_DETAIL_TITLE	"Animaci¢n de Ventana - Detallar Seteos"
#define STR_DISABLE_SORT	"Desabilitar Ordenar y Deshacer Ordenar para el Escritorio"
#define STR_DRAG_BY_FRAME	"Arrastre por el Marco"
#define STR_DRAG_FUNCTIONS	"~Arrastre"
#define STR_DRAWING		"Dibujamiento de la Pantalla"
#define STR_EFFECTIVE_AREA	"Area Efectiva(%):"
#define STR_ENABLE		"Habilitar"
#define STR_ENTRY_FIELD_MENU	"Men£ de Campo de Entrada"
#define STR_EXTENDED_FILEDLG	"Di logo Extendido de Archivo"
#define STR_EXTENDED_MARKING	"Marcado Extendido"
#define STR_EXTENSION_SORT	"Ordenamiento por Extensi¢n"
#define STR_FILEDLG_NAMES	"~Nombres"
#define STR_FILEDLG_OPEN	"~Abrir"
#define STR_FILENAME_SELECT	"Selecci¢n por Nombre de Objeto"
#define STR_FOCUS_POINTER	"Mover el Puntero al Foco"
#define STR_FOLDER_DRAG		"Arrastre de Carpeta"
#define STR_FULL_WINDOW_DRAG	"Arrastre de la Ventana Completa"
#define STR_IGNORE_BUTTONLESS	"Ignorar Di logos sin Botones"
#define STR_IGNORE_DESKTOP	"Ignorar el Escritorio"
#define STR_IGNORE_LAUNCHPAD	"Ignorar el LaunchPad"
#define STR_KEEP_ZORDER		"Mantener la Coordenada Z de las Ventanas"
#define STR_MATRIX_ARRANGE	"Ordenar Iconos en una Matriz"
#define STR_MENU_COPY		"~Copiar"
#define STR_MENU_CUT		"Co~rtar"
#define STR_MENU_EXTENTION	"E~xtensi¢n"
#define STR_MENU_FILENAME	"~Nombre de Archivo..."
#define STR_MENU_NAME		"~Nombre..."
#define STR_MENU_PASTE		"~Pegar"
#define STR_OTHER_FUNCTIONS	"~Otros"
#define STR_POINTER_1		"Puntero ~1"
#define STR_POINTER_2		"Puntero ~2"
#define STR_POINTER_ACTIVATE	"Activar Ventana del Puntero"
#define STR_POINTER_IS_MOVED	"Solo cuando el Puntero es Movido"
#define STR_PRODUCT_INFO	"~Informaci¢n del Producto"
#define STR_PROGRAM		"Workplace Shell Customizing Program"
#define STR_QUERY_CLOSE		"¨Realmente quieres Salir?"
#define STR_QUERY_DELETE	"Archivos Seleccionados ser n Borrados"
#define STR_QUICK_PASTE		"Pegado R pido"
#define STR_RANDOMNESS		"Al Azar:"
#define STR_RANDOM_ICONS	"Iconos al Azar"
#define STR_REFRESH_SCREEN	"Refrescar Pantalla"
#define STR_SCREEN_VIEW		"~Vista de Pantalla"
#define STR_SCREEN_WRAP		"Posicionar Puntero en el Borde de la Pantalla"
#define STR_SELECT_FUNCTIONS	"~Seleccionar/Ordenar"
#define STR_SELECT_OBJECT	" - Seleccionar"
#define STR_SHADOW_DARKNESS	"Oscuridad de la Sombra:"
#define STR_SHADOW_X		"Sombra x:"
#define STR_SHADOW_Y		"Sombra y:"
#define STR_SHIFT_IS_PRESSED	"S¢lo cuando Shift est‚ presionado"
#define STR_SHOW_FOLDERS	"Mostrar otras Carpetas Durante el Arrastre"
#define STR_SMOOTH_SCROLL	"Movimiento de Scroll suave para Carpetas"
#define STR_STEP		"Paso:"
#define STR_TRANSLATION		"Interpretaci¢n de Teclas"
#define STR_WAITING_TIME	"Tiempo de Espera (1/100 sec.):"
#define STR_WAVEAUDIO_INDEX	"Indice Waveaudio :"
#define STR_WINDOW_ANIMATION	"Animaci¢n de ventana para Abrir / Cerrar"
#define STR_WINDOW_LIST		"Lista de Ventanas"
#define STR_WINDOW_SHADOWS	"Sombra de Ventanas en el Escritorio"
#define STR_X_DISTANCE		"Distancia x:"
#define STR_X_ORIGIN		"Origen x:"
#define STR_Y_DISTANCE		"Distancia y:"
#define STR_Y_ORIGIN		"Origen y:"
#define STR_ZORDER_DOWN		"Abajo:"
#define STR_ZORDER_UP		"Arriba:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
