// Resource file for the Swedish version
// Translated by Tom Melander (tom.melander@buller.se)

#define STR_ADAPTATION_TO_BUGS	"Korrigera f”r fel i grafikdrivrutin"
#define STR_AFTERIMAGES		"Antal svansbilder:"
#define STR_ALL_FRAME_ANIMATION "Animeringar f”r alla f”nsterramar"
#define STR_ALWAYS_MOVE		"Flytta alltid pekaren"
#define STR_ANIMATION		"~Animeringar"
#define STR_ANIMATION_SOUNDS	"Animeringsljud"
#define STR_AUTOMATIC_SELECTION	"Automatiska menyval"
#define STR_BUTTON_CANCEL	"Avbryt"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Žndra f”nstrens Z-placering"
#define STR_CLOCK_DRAG		"Dra systemklockan"
#define STR_CLOSE_BUTTON	"St„ng-knapp"
#define STR_COMMAND_POPUP	"Till„ggsmeny"
#define STR_COMMAND_WINDOW	"~Kommandosessioner"
#define STR_DETAIL_SETTINGS	"Avancerade inst„llningar..."
#define STR_DETAIL_TITLE	"F”nster animeringar - Avancerade inst„llningar"
#define STR_DISABLE_SORT	"Ta bort Sortera och Ordna skrivbordet"
#define STR_DRAG_BY_FRAME	"Dra i ramen"
#define STR_DRAG_FUNCTIONS	"~Dra"
#define STR_DRAWING		"Rita p† sk„rmen"
#define STR_EFFECTIVE_AREA	"Effektiv area (%):"
#define STR_EXTENDED_FILEDLG	"F”rb„ttrad fildialog"
#define STR_EXTENDED_MARKING	"F”rb„ttrad markering"
#define STR_EXTENSION_SORT	"Sortera efter fil„ndelse"
#define STR_FILEDLG_NAMES	"~Namn"
#define STR_FILEDLG_OPEN	"~™ppna"
#define STR_FILENAME_SELECT	"Markera via objektnamn"
#define STR_FOCUS_POINTER	"Flytta pekaren till fokus"
#define STR_FOLDER_DRAG		"Mappdragning"
#define STR_FULL_WINDOW_DRAG	"Dra hela f”nstret"
#define STR_IGNORE_BUTTONLESS	"Ignorera knappl”sa dialoger"
#define STR_IGNORE_DESKTOP	"Ignorera skrivbordet"
#define STR_IGNORE_LAUNCHPAD	"Ignorera snabbpanelen"
#define STR_KEEP_ZORDER		"Beh†ll f”nstrens Z-placering"
#define STR_MATRIX_ARRANGE	"Arrangera ikoner i en matris"
#define STR_MENU_EXTENTION	"~Fil„ndelse"
#define STR_MENU_FILENAME	"Fil~namn..."
#define STR_MENU_NAME		"~Namn..."
#define STR_OTHER_FUNCTIONS	"~™vriga"
#define STR_POINTER_1		"Pekare ~1"
#define STR_POINTER_2		"Pekare ~2"
#define STR_POINTER_ACTIVATE	"Aktivera f”nstret vid pekaren"
#define STR_POINTER_IS_MOVED	"Bara n„r pekaren flyttas"
#define STR_PRODUCT_INFO	"Produkt ~Info"
#define STR_PROGRAM		"Workplace Shell F”rb„ttringar"
#define STR_QUERY_CLOSE		"Vill du verkligen avsluta?"
#define STR_QUERY_DELETE	"Markerade filer kommer att tas bort"
#define STR_QUICK_PASTE		"Snabbklistring"
#define STR_RANDOMNESS		"Slumptal:"
#define STR_RANDOM_ICONS	"Slumpa ikoner"
#define STR_REFRESH_SCREEN	"Uppdatera sk„rmen"
#define STR_SCREEN_VIEW		"~Sk„rm"
#define STR_SCREEN_WRAP		"O„ndlig f”rflyttning av pekare"
#define STR_SELECT_FUNCTIONS	"~Markera/Sortera"
#define STR_SELECT_OBJECT	" - Markera"
#define STR_SHADOW_DARKNESS	"Skuggnyans:"
#define STR_SHADOW_X		"Skuggans x:"
#define STR_SHADOW_Y		"Skuggans y:"
#define STR_SHIFT_IS_PRESSED	"Bara n„r shift „r nertryckt"
#define STR_SHOW_FOLDERS	"Visa andra mappar n„r du drar"
#define STR_SMOOTH_SCROLL	"Mjuk rullning i mappar"
#define STR_STEP		"Steg:"
#define STR_TRANSLATION		"Anv„nd tangentkombinationer"
#define STR_WAITING_TIME	"V„ntar i (1/100 sec.):"
#define STR_WINDOW_ANIMATION	"F”nster animering f”r ™ppna/St„ng"
#define STR_WINDOW_LIST		"Aktiva sessioner"
#define STR_WINDOW_SHADOWS	"F”nsterskuggor p† skrivbordet"
#define STR_X_DISTANCE		"x avst†nd:"
#define STR_X_ORIGIN		"x placering:"
#define STR_Y_DISTANCE		"y avst†nd:"
#define STR_Y_ORIGIN		"y placering:"
#define STR_ZORDER_DOWN		"Ner:"
#define STR_ZORDER_UP		"Upp:"

// for 1.81

#define STR_ENABLE		"Enable"
#define STR_ENTRY_FIELD_MENU	"Entry Field Menu"
#define STR_MENU_COPY		"~Copy"
#define STR_MENU_CUT		"Cu~t"
#define STR_MENU_PASTE		"~Paste"
#define STR_WAVEAUDIO_INDEX	"Waveaudio Index:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
