// Resource file for the Italian version
// Translated by Alessandro Cantatore (alex.cant@iol.it)

#define STR_ADAPTATION_TO_BUGS	"Bug driver video"
#define STR_AFTERIMAGES		"Risoluzione animazione:"
#define STR_ALL_FRAME_ANIMATION "Animazione per tutte le finestre"
#define STR_ALWAYS_MOVE		"Muovere sempre"
#define STR_ANIMATION		"~Animazione"
#define STR_ANIMATION_SOUNDS	"Suono"
#define STR_AUTOMATIC_SELECTION	"Selezione automatica menu"
#define STR_BUTTON_CANCEL	"Annullo"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Cambiare gerarchia finestre"
#define STR_CLOCK_DRAG		"Spostare l'orologio"
#define STR_CLOSE_BUTTON	"Pulsante di chiusura"
#define STR_COMMAND_POPUP	"Menu a comparsa"
#define STR_COMMAND_WINDOW	"~Finestra comandi"
#define STR_DETAIL_SETTINGS	"Dettagli..."
#define STR_DETAIL_TITLE	"Animazione finestre - Impostazione"
#define STR_DISABLE_SORT	"Rimozione Ordinare e Riordinare"
#define STR_DRAG_BY_FRAME	"Spostare dal bordo"
#define STR_DRAG_FUNCTIONS	"~Spostare"
#define STR_DRAWING		"Disegno"
#define STR_EFFECTIVE_AREA	"Area attiva(%):"
#define STR_ENABLE		"Attivare"
#define STR_ENTRY_FIELD_MENU	"Menu Editazione"
#define STR_EXTENDED_FILEDLG	"Finestra dialogo file estesa"
#define STR_EXTENDED_MARKING	"Marcatura estesa"
#define STR_EXTENSION_SORT	"Ordinare per estensione"
#define STR_FILEDLG_NAMES	"~Copia nome"
#define STR_FILEDLG_OPEN	"~Aprire"
#define STR_FILENAME_SELECT	"Selezionare secondo il nome"
#define STR_FOCUS_POINTER	"Muovere su finestra attiva"
#define STR_FOLDER_DRAG		"Spostare cartella"
#define STR_FULL_WINDOW_DRAG	"Spostare finestra intera"
#define STR_IGNORE_BUTTONLESS	"Ignorare in assenza di pulsanti"
#define STR_IGNORE_DESKTOP	"Ignorare Scrivania"
#define STR_IGNORE_LAUNCHPAD	"Ignorare Pannello di avvio"
#define STR_KEEP_ZORDER		"Mantenere gerarchia finestre"
#define STR_MATRIX_ARRANGE	"Allineare le icone"
#define STR_MENU_COPY		"~Copiare"
#define STR_MENU_CUT		"~Estrarre"
#define STR_MENU_EXTENTION	"E~stensione"
#define STR_MENU_FILENAME	"Aprire il ~file..."
#define STR_MENU_NAME		"~Nome..."
#define STR_MENU_PASTE		"~Inserire"
#define STR_OTHER_FUNCTIONS	"Funzioni va~rie"
#define STR_POINTER_1		"Mouse ~1"
#define STR_POINTER_2		"Mouse ~2"
#define STR_POINTER_ACTIVATE	"Attivazione automatica"
#define STR_POINTER_IS_MOVED	"Ignorare nuove finestre"
#define STR_PRODUCT_INFO	"~Informazioni"
#define STR_PROGRAM		"Workplace Shell Customizing Program"
#define STR_QUERY_CLOSE		"Confermi la chiusura?"
#define STR_QUERY_DELETE	"I file selezionati saranno cancellati"
#define STR_QUICK_PASTE		"Inserimento rapido"
#define STR_RANDOMNESS		"Casualit…:"
#define STR_RANDOM_ICONS	"Icone casuali"
#define STR_REFRESH_SCREEN	"Aggiornare"
#define STR_SCREEN_VIEW		"~Vista schermo"
#define STR_SCREEN_WRAP		"Oltrepassare bordi schermo"
#define STR_SELECT_FUNCTIONS	"~Selezionare/Ordinare"
#define STR_SELECT_OBJECT	" - Selezionare"
#define STR_SHADOW_DARKNESS	"Intensit… ombra:"
#define STR_SHADOW_X		"Ombra x:"
#define STR_SHADOW_Y		"Ombra y:"
#define STR_SHIFT_IS_PRESSED	"Solo con tasto Maius premuto"
#define STR_SHOW_FOLDERS	"Mostrare finestre coperte"
#define STR_SMOOTH_SCROLL	"Scorrimento continuo cartelle"
#define STR_STEP		"Tempo:"
#define STR_TRANSLATION		"Traduzione tasti"
#define STR_WAITING_TIME	"Attesa (1/100 sec.):"
#define STR_WAVEAUDIO_INDEX	"Indice Waveaudio:"
#define STR_WINDOW_ANIMATION	"Apertura / Chiusura finestre"
#define STR_WINDOW_LIST		"Elenco finestre"
#define STR_WINDOW_SHADOWS	"Ombreggiatura finestre"
#define STR_X_DISTANCE		"Distanza x:"
#define STR_X_ORIGIN		"Origine x:"
#define STR_Y_DISTANCE		"Distanza y:"
#define STR_Y_ORIGIN		"Origine y:"
#define STR_ZORDER_DOWN		"Gi—:"
#define STR_ZORDER_UP		"Su:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
