// Resource file for the Polish version
// Translated by Artur Flinta (aflinta@tl.krakow.pl)

#define STR_ADAPTATION_TO_BUGS	"Dostosuj do bˆ©du sterownika grafiki"
#define STR_AFTERIMAGES		"Liczba znikaj¥cych obraz¢w:"
#define STR_ALL_FRAME_ANIMATION "Animacja dla wszystkich okien"
#define STR_ALWAYS_MOVE		"Zawsze przesuä wska«nik"
#define STR_ANIMATION		"~Animacja"
#define STR_ANIMATION_SOUNDS	"D«wi©ki podczas animacji"
#define STR_AUTOMATIC_SELECTION	"Automatyczny wyb¢r menu"
#define STR_BUTTON_CANCEL	"Anuluj"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Zmiana porz¥dku ustawienia okien"
#define STR_CLOCK_DRAG		"Przeci¥ganie zegara systemowego"
#define STR_CLOSE_BUTTON	"Przycisk zamykaj¥cy"
#define STR_COMMAND_POPUP	"Rozwijalne menu"
#define STR_COMMAND_WINDOW	"~Okno poleceä"
#define STR_DETAIL_SETTINGS	"Dokˆadne ustawienia..."
#define STR_DETAIL_TITLE	"Animacja okna - Dokˆadne ustawienia"
#define STR_DISABLE_SORT	"Wyˆ¥cz sortowanie i uporz¥dkowanie pulpitu"
#define STR_DRAG_BY_FRAME	"Przeci¥ganie ramki"
#define STR_DRAG_FUNCTIONS	"~Przeci¥ganie"
#define STR_DRAWING		"Rysowanie po ekranie"
#define STR_EFFECTIVE_AREA	"Efektywny obszar (%):"
#define STR_ENABLE		"Wˆ¥czony"
#define STR_ENTRY_FIELD_MENU	"Menu dla pola wej˜ciowego"
#define STR_EXTENDED_FILEDLG	"Dodatkowe okno dialogowe z plikami "
#define STR_EXTENDED_MARKING	"Rozszerzone zaznaczanie"
#define STR_EXTENSION_SORT	"Rozszerzone sortowanie"
#define STR_FILEDLG_NAMES	"~Nazwy"
#define STR_FILEDLG_OPEN	"~Otw¢rz"
#define STR_FILENAME_SELECT	"Wyb¢r przez nazw© obiektu"
#define STR_FOCUS_POINTER	"Przesuä wska«nik na aktywny obszar"
#define STR_FOLDER_DRAG		"Przeci¥ganie folderu"
#define STR_FULL_WINDOW_DRAG	"Przeci¥ganie peˆnego okna"
#define STR_IGNORE_BUTTONLESS	"Ignoruj bezprzyciskowe okna"
#define STR_IGNORE_DESKTOP	"Ignoruj pulpit"
#define STR_IGNORE_LAUNCHPAD	"Ignoruj Wyrzutni©"
#define STR_KEEP_ZORDER		"Utzymaj Z-porz¥dek okien"
#define STR_MATRIX_ARRANGE	"Uporz¥dkuj ikony w matrycy"
#define STR_MENU_COPY		"~Kopiuj"
#define STR_MENU_CUT		"W~ytnij"
#define STR_MENU_EXTENTION	"~Rozszerzenie"
#define STR_MENU_FILENAME	"~Nazwa pliku..."
#define STR_MENU_NAME		"~Nazwa..."
#define STR_MENU_PASTE		"W~klej"
#define STR_OTHER_FUNCTIONS	"~Inne"
#define STR_POINTER_1		"Wska«nik ~1"
#define STR_POINTER_2		"Wska«nik ~2"
#define STR_POINTER_ACTIVATE	"Uaktywnij okno pod wska«nikiem"
#define STR_POINTER_IS_MOVED	"Tylko wtedy gdy wska«nik jest przesuwany"
#define STR_PRODUCT_INFO	"~Informacja"
#define STR_PROGRAM		"Program rozszerzaj¥cy interfejs u¾ytkownika"
#define STR_QUERY_CLOSE		"Czy naprawd© chcesz zakäczy† dziaˆanie programu?"
#define STR_QUERY_DELETE	"Zaznaczone pliki b©d¥ usuni©te"
#define STR_QUICK_PASTE		"Szybkie wklejanie"
#define STR_RANDOMNESS		"Okolica:"
#define STR_RANDOM_ICONS	"Losowe ikony"
#define STR_REFRESH_SCREEN	"Od˜wie¾ ekran"
#define STR_SCREEN_VIEW		"~Widok ekranu"
#define STR_SCREEN_WRAP		"Zawijaj wska«nik na granicy ekranu"
#define STR_SELECT_FUNCTIONS	"~Wybierz/Sortuj"
#define STR_SELECT_OBJECT	" - wybierz"
#define STR_SHADOW_DARKNESS	"Ciemno˜† cienia:"
#define STR_SHADOW_X		"Cieä x:"
#define STR_SHADOW_Y		"Cieä y:"
#define STR_SHIFT_IS_PRESSED	"Tylko gdy Shift jest wci˜ni©ty"
#define STR_SHOW_FOLDERS	"Poka¾ inne foldery podczas przeci¥gania"
#define STR_SMOOTH_SCROLL	"Dopasuj w foldery z paskiem przewijania"
#define STR_STEP		"Krok:"
#define STR_TRANSLATION		"Tˆumaczenia klawiszy"
#define STR_WAITING_TIME	"Czas oczekiwania (1/100 sec.):"
#define STR_WAVEAUDIO_INDEX	"Indeks d«wi©ku WAV:"
#define STR_WINDOW_ANIMATION	"Animacja okna dla otwarcia / zamkni©cia"
#define STR_WINDOW_LIST		"Lista okien"
#define STR_WINDOW_SHADOWS	"Cienie okien na pulpicie"
#define STR_X_DISTANCE		"Odlegˆo˜† x:"
#define STR_X_ORIGIN		"Pocz¥tek x:"
#define STR_Y_DISTANCE		"Odlegˆo˜† y:"
#define STR_Y_ORIGIN		"Pocz¥tek y:"
#define STR_ZORDER_DOWN		"D¢ˆ:"
#define STR_ZORDER_UP		"G¢ra:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
