// Resource file for the Czech version
// Translated by Tomas Hajny (XHajT03@vol.cz)

#define STR_ADAPTATION_TO_BUGS	"Pýizp…soben¡ chyb m ovladaŸe videokarty"
#define STR_AFTERIMAGES		"PoŸet mezistupå…:"
#define STR_ALL_FRAME_ANIMATION "Animace pro vçechna or movan  okna"
#define STR_ALWAYS_MOVE		"V§dy pýesunout ukazov tko"
#define STR_ANIMATION		"~Animace"
#define STR_ANIMATION_SOUNDS	"Zvuky animace"
#define STR_AUTOMATIC_SELECTION	"Automatickì vìbØr v nab¡dce"
#define STR_BUTTON_CANCEL	"Zruçit"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"ZmØnit um¡stØn¡ okna v poýad¡ Z"
#define STR_CLOCK_DRAG		"Pýesun syst‚movìch hodin"
#define STR_CLOSE_BUTTON	"TlaŸ¡tko pro ukonŸen¡"
#define STR_COMMAND_POPUP	"Rozev¡rac¡ nab¡dka"
#define STR_COMMAND_WINDOW	"Pý¡kazov‚ ~okno"
#define STR_DETAIL_SETTINGS	"Detailn¡ nastaven¡ ..."
#define STR_DETAIL_TITLE	"Animace oken - detailn¡ nastaven¡"
#define STR_DISABLE_SORT	"Z kaz ýazen¡ a uspoý d n¡ pracovn¡ plochy"
#define STR_DRAG_BY_FRAME	"Pýesun pomoc¡ r mu"
#define STR_DRAG_FUNCTIONS	"~Pýesun"
#define STR_DRAWING		"Kreslen¡ na obrazovce"
#define STR_EFFECTIVE_AREA	"Aktivn¡ oblast (%):"
#define STR_ENABLE		"Povolit"
#define STR_ENTRY_FIELD_MENU	"Nab¡dka pro vstupn¡ pole"
#define STR_EXTENDED_FILEDLG	"Rozç¡ýen‚ dialogov‚ okno pro soubory"
#define STR_EXTENDED_MARKING	"Rozç¡ýen‚ oznaŸen¡"
#define STR_EXTENSION_SORT	"Tý¡dØn¡ podle pý¡pony"
#define STR_FILEDLG_NAMES	"~Jm‚na"
#define STR_FILEDLG_OPEN	"~Otevý¡t"
#define STR_FILENAME_SELECT	"VìbØr podle n zvu objektu"
#define STR_FOCUS_POINTER	"Pýesun ukazov tka na aktivn¡ okno"
#define STR_FOLDER_DRAG		"Pýesun slo§ek"
#define STR_FULL_WINDOW_DRAG	"Pýesun celìch oken"
#define STR_IGNORE_BUTTONLESS	"Ignorovat dialogov  okna bez tlaŸ¡tek"
#define STR_IGNORE_DESKTOP	"Ignorovat pracovn¡ plochu"
#define STR_IGNORE_LAUNCHPAD	"Ignorovat pý¡ruŸn¡ panel"
#define STR_KEEP_ZORDER		"Ponechat um¡stØn¡ okna v poýad¡ Z"
#define STR_MATRIX_ARRANGE	"Uspoý dat ikony do matice"
#define STR_MENU_COPY		"~Kop¡rovat"
#define STR_MENU_CUT		"~Vyjmout"
#define STR_MENU_EXTENTION	"~Pý¡pona"
#define STR_MENU_FILENAME	"Jm‚no ~souboru ..."
#define STR_MENU_NAME		"~Jm‚no ..."
#define STR_MENU_PASTE		"V~lo§it"
#define STR_OTHER_FUNCTIONS	"~Jin‚"
#define STR_POINTER_1		"Ukazov tko ~1"
#define STR_POINTER_2		"Ukazov tko ~2"
#define STR_POINTER_ACTIVATE	"Aktivovat okno pod ukazov tkem"
#define STR_POINTER_IS_MOVED	"Jen pýi pýesunu ukazov tka"
#define STR_PRODUCT_INFO	"~Informace o produktu"
#define STR_PROGRAM		"éprava prostýed¡ Workplace Shell"
#define STR_QUERY_CLOSE		"Chcete skuteŸnØ ukonŸit program?"
#define STR_QUERY_DELETE	"Vybran‚ soubory budou smaz ny"
#define STR_QUICK_PASTE		"Rychl‚ vlo§en¡"
#define STR_RANDOMNESS		"N hodnost:"
#define STR_RANDOM_ICONS	"N hodn‚ ikony"
#define STR_REFRESH_SCREEN	"Aktualizace obrazovky"
#define STR_SCREEN_VIEW		"Vz~hled obrazovky"
#define STR_SCREEN_WRAP		"Myç pýekraŸuj¡c¡ okraj obrazovky"
#define STR_SELECT_FUNCTIONS	"~VìbØr/Tý¡dØn¡"
#define STR_SELECT_OBJECT	" - VìbØr"
#define STR_SHADOW_DARKNESS	"Tmavost st¡nu:"
#define STR_SHADOW_X		"St¡n x:"
#define STR_SHADOW_Y		"St¡n y:"
#define STR_SHIFT_IS_PRESSED	"Jen pýi stisknut‚ kl vese Shift"
#define STR_SHOW_FOLDERS	"Pýi pýesunu ukazovat ostatn¡ slo§ky"
#define STR_SMOOTH_SCROLL	"Plynul‚ rolov n¡ slo§ek"
#define STR_STEP		"Krok:"
#define STR_TRANSLATION		"Pýeklad kl ves"
#define STR_WAITING_TIME	"¬ek n¡ (1/100 sekundy):"
#define STR_WAVEAUDIO_INDEX	"Waveaudio Index:"
#define STR_WINDOW_ANIMATION	"Animace oken pýi otevýen¡ / zavýen¡"
#define STR_WINDOW_LIST		"Seznam oken"
#define STR_WINDOW_SHADOWS	"St¡ny oken na pracovn¡ ploçe"
#define STR_X_DISTANCE		"Vzd l. x:"
#define STR_X_ORIGIN		"PoŸ tek x:"
#define STR_Y_DISTANCE		"Vzd l. y:"
#define STR_Y_ORIGIN		"PoŸ tek y:"
#define STR_ZORDER_DOWN		"Dol…:"
#define STR_ZORDER_UP		"Nahoru:"

rcinclude "npswps.rc"
