// Resource file for the Japanese version

#define STR_ADAPTATION_TO_BUGS	"ビデオドライバのバグに対応"
#define STR_AFTERIMAGES		"残像数:"
#define STR_ALL_FRAME_ANIMATION	"すべてのフレームウィンドウに適用"
#define STR_ALWAYS_MOVE		"常にポインタを移動"
#define STR_ANIMATION		"開閉時描画(~A)"
#define STR_ANIMATION_SOUNDS	"アニメーションの効果音"
#define STR_AUTOMATIC_SELECTION	"メニューの自動選択"
#define STR_BUTTON_CANCEL	"取消"
#define STR_BUTTON_OK		"了解"
#define STR_CHANGE_ZORDER	"ウィンドウの Z 順の変更"
#define STR_CLOCK_DRAG		"システム時計のドラッグ"
#define STR_CLOSE_BUTTON	"クローズボタン"
#define STR_COMMAND_POPUP	"ポップアップメニュー"
#define STR_COMMAND_WINDOW	"コマンド窓(~C)"
#define STR_DETAIL_SETTINGS	"詳細設定..."
#define STR_DETAIL_TITLE	"アニメーション - 詳細設定"
#define STR_DISABLE_SORT	"デスクトップの分類、再配置の禁止"
#define STR_DRAG_BY_FRAME	"フレームでドラッグ"
#define STR_DRAG_FUNCTIONS	"ドラッグ(~D)"
#define STR_DRAWING		"お絵描き"
#define STR_EFFECTIVE_AREA	"有効領域 (%):"
#define STR_ENABLE		"使用可能"
#define STR_ENTRY_FIELD_MENU	"入力フィールドメニュー"
#define STR_EXTENDED_FILEDLG	"拡張ファイルダイアログ"
#define STR_EXTENDED_MARKING	"拡張マーキング"
#define STR_EXTENSION_SORT	"拡張子で分類"
#define STR_FILEDLG_NAMES	"名前(~N)"
#define STR_FILEDLG_OPEN	"開く(~O)"
#define STR_FILENAME_SELECT	"オブジェクト名で選択"
#define STR_FOCUS_POINTER	"ポインタをフォーカスに移動"
#define STR_FOLDER_DRAG		"フォルダのドラッグ"
#define STR_FULL_WINDOW_DRAG	"フルウィンドウドラッグ"
#define STR_IGNORE_BUTTONLESS	"ボタンなしダイアログを無視"
#define STR_IGNORE_DESKTOP	"デスクトップを無視"
#define STR_IGNORE_LAUNCHPAD	"ランチパッドを無視"
#define STR_KEEP_ZORDER		"ウィンドウの Z 順を変更しない"
#define STR_MATRIX_ARRANGE	"オブジェクトの格子配置"
#define STR_MENU_COPY		"コピー(~C)"
#define STR_MENU_CUT		"切り抜き(~T)"
#define STR_MENU_EXTENTION	"拡張子(~X)"
#define STR_MENU_FILENAME	"ファイル名(~N)..."
#define STR_MENU_NAME		"名前(~N)..."
#define STR_MENU_PASTE		"貼り付け(~P)"
#define STR_OTHER_FUNCTIONS	"その他(~O)"
#define STR_POINTER_1		"ポインタ ~1"
#define STR_POINTER_2		"ポインタ ~2"
#define STR_POINTER_ACTIVATE	"ポインタ下ウィンドウを活動化"
#define STR_POINTER_IS_MOVED	"ポインタが動いた時のみ"
#define STR_PRODUCT_INFO	"製品情報(~I)"
#define STR_PROGRAM		"ワークプレースシェル拡張プログラム"
#define STR_QUERY_CLOSE		"終了してもよろしいですか？"
#define STR_QUERY_DELETE	"選択されたファイルを削除します"
#define STR_QUICK_PASTE		"簡単ペースト"
#define STR_RANDOMNESS		"乱雑さ:"
#define STR_RANDOM_ICONS	"ランダムアイコン"
#define STR_REFRESH_SCREEN	"画面の再描画"
#define STR_SCREEN_VIEW		"画面表示(~V)"
#define STR_SCREEN_WRAP		"画面端でポインタをジャンプ"
#define STR_SELECT_FUNCTIONS	"選択／分類(~S)"
#define STR_SELECT_OBJECT	" - 選択"
#define STR_SHADOW_DARKNESS	"影の濃さ:"
#define STR_SHADOW_X		"影のずれ x:"
#define STR_SHADOW_Y		"影のずれ y:"
#define STR_SHIFT_IS_PRESSED	"シフトが押されている時のみ"
#define STR_SHOW_FOLDERS	"ドラッグ時に他フォルダを表示"
#define STR_SMOOTH_SCROLL	"フォルダのなめらかスクロール"
#define STR_STEP		"ステップ:"
#define STR_TRANSLATION		"入力の変換"
#define STR_WAITING_TIME	"待ち時間 (1/100 秒):"
#define STR_WAVEAUDIO_INDEX	"Waveaudio 番号:"
#define STR_WINDOW_ANIMATION	"ウィンドウ開閉時のアニメーション"
#define STR_WINDOW_LIST		"ウィンドウリスト"
#define STR_WINDOW_SHADOWS	"デスクトップに落ちる影"
#define STR_X_DISTANCE		"x 距離:"
#define STR_X_ORIGIN		"x 基点:"
#define STR_Y_DISTANCE		"y 距離:"
#define STR_Y_ORIGIN		"y 基点:"
#define STR_ZORDER_DOWN		"下:"
#define STR_ZORDER_UP		"上:"

// for 1.82

#define STR_TEST_ANIMATION	"テスト(~T)"
#define STR_THICK_LINE		"太線"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
