// Resource file for the Danish version
// Translated by Kim Ludvigsen (ludvig@ibm.net)

#define STR_ADAPTATION_TO_BUGS	"Afhjëlpning af skërmkortfejl"
#define STR_AFTERIMAGES		"Antal efterbilleder:"
#define STR_ALL_FRAME_ANIMATION "Animationer i alle vinduer"
#define STR_ALWAYS_MOVE		"Flyt altid musemarkõr"
#define STR_ANIMATION		"A~nimationer"
#define STR_ANIMATION_SOUNDS	"Lyd ved animationer"
#define STR_AUTOMATIC_SELECTION	"Automatisk menu valg"
#define STR_BUTTON_CANCEL	"Fortryd"
#define STR_BUTTON_OK		"OK"
#define STR_CHANGE_ZORDER	"Skift rëkkefõlge pÜ vinduer"
#define STR_CLOCK_DRAG		"Trëk system ur"
#define STR_CLOSE_BUTTON	"Lukke knap"
#define STR_COMMAND_POPUP	"Popup menu"
#define STR_COMMAND_WINDOW	"~Kommando vindue"
#define STR_DETAIL_SETTINGS	"Specielle indstillinger..."
#define STR_DETAIL_TITLE	"Animationer - Specielle indstillinger"
#define STR_DISABLE_SORT	"Ingen sortÇr/placÇr pÜ arbejdspladsen"
#define STR_DRAG_BY_FRAME	"Trëk i ramme"
#define STR_DRAG_FUNCTIONS	"~Trëk"
#define STR_DRAWING		"Tegne pÜ skërmen"
#define STR_EFFECTIVE_AREA	"Virksomt omrÜde (%):"
#define STR_EXTENDED_FILEDLG	"Trëk og slip i fil-bokse"
#define STR_EXTENDED_MARKING	"Udvidet markering"
#define STR_EXTENSION_SORT	"SortÇr pÜ filtyper"
#define STR_FILEDLG_NAMES	"~KopiÇr"
#define STR_FILEDLG_OPEN	"~èbn"
#define STR_FILENAME_SELECT	"Valg efter objektnavn"
#define STR_FOCUS_POINTER	"Flyt markõr til fokus"
#define STR_FOLDER_DRAG		"Trëk folder"
#define STR_FULL_WINDOW_DRAG	"Trëk hele vinduet"
#define STR_IGNORE_BUTTONLESS	"Ignorer vinduer uden knapper"
#define STR_IGNORE_DESKTOP	"Ignorer arbejdsplads"
#define STR_IGNORE_LAUNCHPAD	"Ignorer IkonbÜnd"
#define STR_KEEP_ZORDER		"Behold rëkkefõlge"
#define STR_MATRIX_ARRANGE	"Arranger ikoner i gitter"
#define STR_MENU_EXTENTION	"U~dvidelser"
#define STR_MENU_FILENAME	"Fil-~boks..."
#define STR_MENU_NAME		"~Navn..."
#define STR_OTHER_FUNCTIONS	"~Andet"
#define STR_POINTER_1		"Markõr ~1"
#define STR_POINTER_2		"Markõr ~2"
#define STR_POINTER_ACTIVATE	"Aktivt vindue ved markõr"
#define STR_POINTER_IS_MOVED	"Kun nÜr markõr bevëges"
#define STR_PRODUCT_INFO	"Produkt ~Information"
#define STR_PROGRAM		"Konfiguration af arbejdspladsen"
#define STR_QUERY_CLOSE		"Er du sikker pÜ, at du vil afslutte?"
#define STR_QUERY_DELETE	"De valgte filer vil blive slettet"
#define STR_QUICK_PASTE		"Hurtig indsët"
#define STR_RANDOMNESS		"Tilfëldighed:"
#define STR_RANDOM_ICONS	"Tilfëldige ikoner"
#define STR_REFRESH_SCREEN	"Opfrisk skërm"
#define STR_SCREEN_VIEW		"~Skërm"
#define STR_SCREEN_WRAP		"Bõj markõr omkring skërmen"
#define STR_SELECT_FUNCTIONS	"~Vëlg/SortÇr"
#define STR_SELECT_OBJECT	" - Vëlg"
#define STR_SHADOW_DARKNESS	"Hvor mõrkt?:"
#define STR_SHADOW_X		"Skygge x:"
#define STR_SHADOW_Y		"Skygge y:"
#define STR_SHIFT_IS_PRESSED	"Kun nÜr skift holdes nede"
#define STR_SHOW_FOLDERS	"Vis andre foldere nÜr der trëkkes"
#define STR_SMOOTH_SCROLL	"Blõd rulning i foldere"
#define STR_STEP		"Trin:"
#define STR_TRANSLATION		"Tastoversëttelse"
#define STR_WAITING_TIME	"Reaktionstid (1/100 sek.):"
#define STR_WINDOW_ANIMATION	"Animationer ved Übn/luk"
#define STR_WINDOW_LIST		"Vinduesoversigt"
#define STR_WINDOW_SHADOWS	"Vinduesskygge pÜ arbejdspladsen"
#define STR_X_DISTANCE		"x afstand:"
#define STR_X_ORIGIN		"x start:"
#define STR_Y_DISTANCE		"y afstand:"
#define STR_Y_ORIGIN		"y start:"
#define STR_ZORDER_DOWN		"Ned:"
#define STR_ZORDER_UP		"Op:"

// for 1.81

#define STR_ENABLE		"Enable"
#define STR_ENTRY_FIELD_MENU	"Entry Field Menu"
#define STR_MENU_COPY		"~Copy"
#define STR_MENU_CUT		"Cu~t"
#define STR_MENU_PASTE		"~Paste"
#define STR_WAVEAUDIO_INDEX	"Waveaudio Index:"

// for 1.82

#define STR_TEST_ANIMATION	"~Test"
#define STR_THICK_LINE		"Thick Line"
#define CX_CHECKBOX		250
#define CX_SPIN_1		114
#define CX_SPIN_2		52

rcinclude "npswps.rc"
