// Resource file for the Russian version
// By Alexander V. Kiselev, St.Petersburg, Russia

#define STR_ADAPTATION_TO_BUGS  "Исправление ошибок видеоадаптеров"
#define STR_AFTERIMAGES         "Число кадров после:"
#define STR_ALL_FRAME_ANIMATION "Анимация для всех окон-рамок"
#define STR_ALWAYS_MOVE         "Всегда перемещать указатель"
#define STR_ANIMATION           "~Анимация"
#define STR_ANIMATION_SOUNDS    "Звуки при анимации"
#define STR_AUTOMATIC_SELECTION "Автовыбор в меню"
#define STR_BUTTON_CANCEL       "Отмена"
#define STR_BUTTON_OK           "OK"
#define STR_CHANGE_ZORDER       "Изменять Z-очередь окон"
#define STR_CLOCK_DRAG          "Перемещение часов"
#define STR_CLOSE_BUTTON        "Кнопка закрытия"
#define STR_COMMAND_POPUP       "Всплывающее меню"
#define STR_COMMAND_WINDOW      "~Командный режим"
#define STR_DETAIL_SETTINGS     "Дополнительно..."
#define STR_DETAIL_TITLE        "Анимация окон - дополнительно"
#define STR_DISABLE_SORT        "Убрать упорядочение рабочего стола"
#define STR_DRAG_BY_FRAME       "Перенос рамок"
#define STR_DRAG_FUNCTIONS      "~Перенос"
#define STR_DRAWING             "Рисование на экране"
#define STR_EFFECTIVE_AREA      "Рабочая площадь (%):"
#define STR_ENABLE              "Включить"
#define STR_ENTRY_FIELD_MENU    "Меню поля записи"
#define STR_EXTENDED_FILEDLG    "Расширенный диалог Файл"
#define STR_EXTENDED_MARKING    "Расширенное выделение"
#define STR_EXTENSION_SORT      "Сортировка по расширениям"
#define STR_FILEDLG_NAMES       "~Имена"
#define STR_FILEDLG_OPEN        "~Открыть"
#define STR_FILENAME_SELECT     "Выбор по имени объекта"
#define STR_FOCUS_POINTER       "Передвигать мышь в активное окно"
#define STR_FOLDER_DRAG         "Перенос папок"
#define STR_FULL_WINDOW_DRAG    "Перенос полного окна"
#define STR_IGNORE_BUTTONLESS   "Игнорировать диалоги без кнопок"
#define STR_IGNORE_DESKTOP      "Игнорировать рабочий стол"
#define STR_IGNORE_LAUNCHPAD    "Игнороровать пусковую панель"
#define STR_KEEP_ZORDER         "Сохранять Z-очередь окон"
#define STR_MATRIX_ARRANGE      "Располагать иконки в таблице"
#define STR_MENU_COPY           "~Копировать"
#define STR_MENU_CUT            "В~ырезать"
#define STR_MENU_EXTENTION      "Рас~ширение"
#define STR_MENU_FILENAME       "Имя ~файла..."
#define STR_MENU_NAME           "~Имя..."
#define STR_MENU_PASTE          "~Вставить"
#define STR_OTHER_FUNCTIONS     "~Другое"
#define STR_POINTER_1           "Мышь ~1"
#define STR_POINTER_2           "Мышь ~2"
#define STR_POINTER_ACTIVATE    "Активировать окно под мышью"
#define STR_POINTER_IS_MOVED    "Только при движении мыши"
#define STR_PRODUCT_INFO        "О прод~укте"
#define STR_PROGRAM             "Утилита Workplace Shell"
#define STR_QUERY_CLOSE         "Вы таки хотите выйти?"
#define STR_QUERY_DELETE        "Выбранные файлы будут убиты"
#define STR_QUICK_PASTE         "Быстрая вставка"
#define STR_RANDOMNESS          "Степень:"
#define STR_RANDOM_ICONS        "Случайный выбор иконок"
#define STR_REFRESH_SCREEN      "Обновить экран"
#define STR_SCREEN_VIEW         "Просмотр ~экрана"
#define STR_SCREEN_WRAP         "Мышь проскакивает под границу экрана"
#define STR_SELECT_FUNCTIONS    "~Выбор/Сортировка"
#define STR_SELECT_OBJECT       " - Выбор"
#define STR_SHADOW_DARKNESS     "Затемнение тени:"
#define STR_SHADOW_X            "Тень x:"
#define STR_SHADOW_Y            "Тень y:"
#define STR_SHIFT_IS_PRESSED    "Только при нажатом Shifte"
#define STR_SHOW_FOLDERS        "Показывать другие папки при переносе"
#define STR_SMOOTH_SCROLL       "Гладкая прокрутка папок"
#define STR_STEP                "Шаг:"
#define STR_TRANSLATION         "Интерпретация кнопок"
#define STR_WAITING_TIME        "Задержка (1/100 сек.):"
#define STR_WAVEAUDIO_INDEX     "Аудио индекс:"
#define STR_WINDOW_ANIMATION    "Анимация окон"
#define STR_WINDOW_LIST         "Список задач"
#define STR_WINDOW_SHADOWS      "Тени окон на рабочем столе"
#define STR_X_DISTANCE          "x расстояние:"
#define STR_X_ORIGIN            "x начало:"
#define STR_Y_DISTANCE          "y расстояние:"
#define STR_Y_ORIGIN            "y начало:"
#define STR_ZORDER_DOWN         "Вниз:"
#define STR_ZORDER_UP           "Вверх:"

// for 1.82

#define STR_TEST_ANIMATION      "~Тест"
#define STR_THICK_LINE          "Толстая линия"
#define CX_CHECKBOX             250
#define CX_SPIN_1               114
#define CX_SPIN_2               52

rcinclude "npswps.rc"
